@font-face {
	
  font-family: 'fontello';
  src: url('../font/fontello.eot?29873402');
  src: url('../font/fontello.eot?29873402#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?29873402') format('woff2'),
       url('../font/fontello.woff?29873402') format('woff'),
       url('../font/fontello.ttf?29873402') format('truetype'),
       url('../font/fontello.svg?29873402#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?29873402#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-contacto:before { content: '\e800'; } /* '' */
.icon-imagen:before { content: '\e801'; } /* '' */
.icon-question:before { content: '\e802'; } /* '' */
.icon-casa:before { content: '\e840'; } /* '' */
.icon-precio:before { content: '\f155'; } /* '' */
.icon-Bar:before { content: '\e800'; } /* '' */
.icon-piscina:before { content: '\e801'; } /* '' */
.icon-tarjeta:before { content: '\e802'; } /* '' */
.icon-masajes:before { content: '\e803'; } /* '' */
.icon-buffet:before { content: '\e815'; } /* '' */
.icon-lavanderia:before { content: '\f035'; } /* '' */
.icon-cafeteria:before { content: '\f0f4'; } /* '' */
.icon-restaurante:before { content: '\f0f5'; } /* '' */
.icon-parqueadero:before { content: '\f0f7'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-regalos:before { content: '\f290'; } /* '' */
.icon-sauna:before { content: '\f2c8'; } /* '' */